<h2><%= l('closure_rules_page_title') %></h2>

<%= form_for @closure_rule, html: { class: "closure-rule-form" }  do |form| %>

  <div class="box">
    <fieldset class="box tabular">
      <legend><%= l('create_closure_rule') %></legend>

      <div class="splitcontent">
        <div class="splitcontentleft">
          <p>
            <label><%= l('closure_rule.projects') %><span class="required"> *</span></label>
            <%= form.select :projects, Project.all.map { |p| [p.name, p.id] }, {}, { include_blank: false, multiple: true, required: true } %> 
          </p>

          <p>
            <label><%= l('closure_rule.trackers') %><span class="required"> *</span></label>
            <%= form.select :trackers, Tracker.all.to_a.map { |t| [t.name, t.id] }, {}, { include_blank: false, multiple: true, required: true } %>
          </p>
          
          <p>
            <label><%= l('closure_rule.statuses') %><span class="required"> *</span></label>
            <%= form.select :statuses, IssueStatus.all.to_a.map { |is| [is.name, is.id] }, {}, { include_blank: false, multiple: true, required: true } %>
          </p>
        </div>

        <div class="splitcontentright">
          <fieldset class="tabular">
            <legend>Time<span class="required"> *</span></legend>

            <p>
              <label><%= l('closure_rule.after_on') %></label>
              <%= form.text_field :after_on, :size => 10 %>
              <%= calendar_for "closure_rule_after_on" %>
            </p>
            
            <p>
              <label><%= l('closure_rule.idle_time') %></label>
              <%= form.text_field :idle_time, :size => 6 %>
            </p>            
          </fieldset>
         
          <p>
            <label><%= l('closure_rule.close_status') %><span class="required"> *</span></label>
            <%= form.select :close_status_id, IssueStatus.where(is_closed: true).to_a.map { |is| [is.name, is.id] }, { include_blank: false, required: true } %>
          </p>

          <p>
            <label><%= l('closure_rule.active') %></label>
            <%= form.check_box :active %>
          </p>
        </div>
      </div>
    </fieldset>

    <%= form.submit l('create') %>
  </div>

<% end %>

<br/>

<table class="list closure-rules">
  <thead>
      <th><%= l('closure_rule.id') %></th>
      <th><%= l('closure_rule.projects') %></th>
      <th><%= l('closure_rule.trackers') %></th>
      <th><%= l('closure_rule.statuses') %></th>
      <th><%= l('closure_rule.after_on') %></th>
      <th><%= l('closure_rule.idle_time') %></th>
      <th><%= l('closure_rule.close_status') %></th>
      <th><%= l('closure_rule.active') %></th>
      <th><%= l('closure_rule.actions') %></th>
  </thead>
  <tbody>
  <% if !@closure_rules.blank? %>
      <% @closure_rules.each do |rule| %>
          <tr>
            <td><%= rule.id %></td>
            <td>
              <% rule.projects.each do |project_id| %>
                <% unless project_id.blank? %>
                  <% project = Project.find_by_id project_id %>
                  <%= link_to(project, project_path(project.identifier)) %><% if project_id != rule.projects.last %>,<% end %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% rule.trackers.each do |tracker_id| %>
                <% unless tracker_id.blank? %>
                  <%= Tracker.find_by_id tracker_id %><% if tracker_id != rule.trackers.last %>,<% end %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% rule.statuses.each do |status_id| %>
                <% unless status_id.blank? %>
                  <%= IssueStatus.find_by_id(status_id).name %><% if status_id != rule.statuses.last %>,<% end %>
                <% end %>
              <% end %>
            </td>
            <td><%= rule.after_on.strftime "%d/%m/%Y" if rule.after_on %></td>
            <td>
              <%= l_hours rule.idle_time if rule.idle_time %>
            </td>
            <td><%= IssueStatus.find_by_id(rule.close_status_id).name if rule.close_status_id %></td>
            <td><%= rule.active ? l(:general_text_Yes) : l(:general_text_No) %></td>
            <td>
              <%= link_to l("closure_rule.#{rule.active ? 'deactivate' : 'activate'}"), closure_rule_activate_path(rule), method: :post %>
              <%= link_to l("closure_rule.apply"), closure_rule_apply_path(rule), method: :post %>
              <%= link_to l(:button_delete), closure_rule_path(rule), method: :delete %>
            </td>
          </tr>
      <% end %>
  <% else %>
      <tr><td colspan="9"><%= l(:label_no_data) %></td></tr>
  <% end %>
  </tbody>
</table>